.navbar {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-brand {
	padding-left: 30px;
}

.socialIcons {
	height: 24px;
}

.jumbotron {
	background-image: url("images/tree_bark.png");
}

.row1 {
	padding: 20px 20px 0px 20px;
}

.myImage {
	float: left;
	padding: 0px 10px 0px 0px;
}

.row2 {
	text-align: center;
}

.portfolioItems {
	padding: 10px 0px 10px 50px;

}